block main 
include ../includes/main-menu



calulator#calculator 
  .calculator__screen#calculator-screen 
    .calculator__keys#calculator-keys 
    button (data-math="add")+
    button (data-math="minus")-
